@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  transition: color 250ms ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}
html, body {
  background-color: black;
  color: white;
}

.oswaldRegular {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}


.oswaldMedium {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}


.oswaldBold {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
